@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,800;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: "Poppins", sans-serif;
  color: #333;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

.header {
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  background: #FFF;
  position: fixed;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  z-index: 10;
}
.header__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  display: flex;
  column-gap: 8px;
  align-items: center;
}
.header__title-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #333;
  color: #FFF;
  font-size: 28px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767.98px) {
  .header__title-img {
    width: 30px;
    height: 30px;
    font-size: 18px;
  }
}
.header__title-text {
  color: #222;
  font-size: 20px;
  line-height: 2.5;
}
@media (max-width: 767.98px) {
  .header__title-text {
    font-size: 16px;
  }
}
@media (max-width: 375.98px) {
  .header__title-text {
    display: none;
  }
}
.header__title-name {
  font-weight: 600;
}
.header__navbar {
  display: flex;
  column-gap: 3.4vw;
  align-items: center;
}
@media (max-width: 768px) {
  .header__menu-body {
    display: flex;
    position: absolute;
    top: 0;
    right: -100%;
    min-height: 100vh;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 0.2s ease 0s;
  }
}
.header__menu-body.active {
  right: 0;
}
.header__list {
  display: flex;
  column-gap: 2.4vw;
}
@media (max-width: 768px) {
  .header__list {
    flex-direction: column;
    align-items: flex-start;
    padding: 90px 0 0 30px;
    gap: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
  }
}
.header__link {
  font-size: 14px;
  line-height: 3.2;
  text-align: center;
  cursor: pointer;
  opacity: 0.7;
}
.header__link:hover {
  opacity: 1;
}
.header__link:hover::after {
  width: 100%;
}
.header__link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #333;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767.98px) {
  .header__link {
    opacity: 1;
    color: #e3e3e3;
    font-size: 30px;
    line-height: 70px;
    text-align: left;
  }
  .header__link::after {
    content: "";
    width: 200px;
    background: #e3e3e3;
  }
}
.header__link_active {
  opacity: 1;
}
.header__link_active::after {
  width: 100%;
}
.header__burger {
  display: none;
}
@media (max-width: 768px) {
  .header__burger {
    display: block;
    width: 30px;
    height: 22px;
    position: relative;
    z-index: 5;
    cursor: pointer;
  }
  .header__burger div {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: all 0.2s;
    border-radius: 10%;
  }
  .header__burger div:first-child {
    top: 0;
  }
  .header__burger div:last-child {
    top: auto;
    bottom: 0;
  }
  .header__burger.active div {
    background-color: #e3e3e3;
    transform: scale(0);
  }
  .header__burger.active div:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .header__burger.active div:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}
@media (max-width: 768px) {
  .header {
    height: 90px;
  }
}

.about {
  padding: 30px 0;
}
.about__body {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1024px;
  padding: 0 40px;
  column-gap: 30px;
  margin: 100px auto;
}
@media (max-width: 767.98px) {
  .about__body {
    text-align: center;
    padding: 0 30px;
    flex-direction: column;
    margin: 30px auto;
    row-gap: 30px;
  }
}
.about__img-container {
  border-radius: 50%;
  border: 18px solid #fff;
  overflow: hidden;
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
}
@media (max-width: 767.98px) {
  .about__img-container {
    width: 70%;
    height: 70%;
    margin: 0 auto;
  }
}
.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about__text {
  flex: 1 0 60%;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 2.4vw;
}
@media (max-width: 767.98px) {
  .about__text {
    align-items: center;
  }
}
.about__position {
  color: #AAA;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 10px;
}
.about__name {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 20px;
}
@media (max-width: 767.98px) {
  .about__name {
    font-size: 36px;
  }
}
.about__description {
  color: #666;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 25px;
}

.skills {
  padding: 30px 0;
}
.skills__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0 auto;
}
.skills__item {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 15px;
  transition: all 0.1s ease 0s;
  border-radius: 10px;
}
.skills__item:hover {
  transform: scale(1.1);
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
}
.skills__item img {
  height: 40px;
}
@media (max-width: 768px) {
  .skills__item {
    width: 90px;
  }
  .skills__item img {
    height: 30px;
  }
}
.skills__item-text {
  padding: 15px 0 0 0;
  font-size: 16px;
  letter-spacing: 0.8px;
}
@media (max-width: 768px) {
  .skills__item-text {
    font-size: 14px;
  }
}

.portfolio {
  padding: 30px 0;
}
.portfolio__projects {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 10px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 767.98px) {
  .portfolio__projects {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
.portfolio__item {
  height: 300px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease 0s;
}
.portfolio__item:hover .portfolio__overlay {
  display: flex;
}
.portfolio__item-img {
  border: 5px solid #E5E5E5;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio__overlay {
  display: none;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.884);
  padding: 5px;
  color: #e3e3e3;
}
.portfolio__overlay-title {
  font-size: 2rem;
  letter-spacing: 1.5px;
}
.portfolio__overlay-description {
  font-size: 1rem;
  letter-spacing: 1px;
}
.portfolio__overlay-technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 30px;
  justify-content: center;
  text-transform: uppercase;
}
.portfolio__overlay-technologies li {
  background-color: black;
  padding: 5px 10px;
  border-radius: 5px;
}
.portfolio__overlay-buttons {
  display: flex;
  column-gap: 10px;
}
.portfolio__overlay-buttons a {
  color: #333;
  display: flex;
  text-align: center;
  align-items: center;
}

.contact {
  background: #ebeaea;
  padding: 30px 0;
}
.contact__body {
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
}
@media (max-width: 768px) {
  .contact__body {
    flex-direction: column;
  }
}
.contact__data {
  flex: 0 1 480px;
}
.contact__contacts {
  padding: 40px 0 0 0;
  height: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.contact__talk {
  font-size: 16px;
  max-width: 300px;
  line-height: 1.3;
}
.contact__header {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.contact__copytext {
  display: flex;
  justify-content: space-between;
  line-height: 19.2px;
  padding: 6px 0px;
  border-bottom: 1.5px solid #333;
}
.contact__info {
  background-color: #ebeaea;
  font-size: 14px;
  width: 100%;
}
.contact__copy-button {
  background-color: #ebeaea;
}
.contact__copy-img {
  width: 20px;
}
.contact__form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  flex: 0 1 50%;
}
.contact__form-input {
  padding: 11.5px 11.5px 11.5px 11.5px;
  border-radius: 5px;
  border: 1px solid #333;
  background: #FFF;
}
.contact__form-input::placeholder {
  color: #757575;
  font-size: 16px;
}
form > .contact__form-button {
  background: #333;
  color: #e3e3e3;
  align-self: flex-start;
}
form > .contact__form-button:hover {
  background: #FFF;
  color: #333;
}

.main {
  flex: 1 1 auto;
  padding: 100px 0 0 0;
}

.footer {
  background-color: #333;
  color: #fff;
}
.footer__container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-align: center;
}

[class*=__container] {
  max-width: 1280px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.contact-icons {
  display: flex;
  column-gap: 16px;
}
.contact-icons img {
  width: 25px;
}

.button {
  height: 40px;
  color: #333;
  padding: 0px 40px;
  border-radius: 30px;
  border: 1px solid #333;
  background: white;
  box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.22);
  transition: all 0.3s ease 0s;
}
.button:hover {
  background: #333;
  color: white;
}
@media (max-width: 575.98px) {
  .button {
    padding: 0px 25px;
  }
}

.title {
  color: #333;
  font-size: 26px;
  font-weight: 600;
  line-height: 25.2px;
  margin-bottom: 40px;
  position: relative;
  display: inline-block;
}
.title::after {
  content: "";
  margin: 10px 0 0 0;
  width: 100%;
  opacity: 0.2;
  height: 2px;
  display: block;
  background-color: #333;
}
.title::before {
  content: "";
  width: 20px;
  height: 2px;
  top: 35px;
  display: block;
  background-color: #333;
  position: absolute;
}

@media (max-width: 767.98px) {
  .lock {
    overflow: hidden;
  }
}