@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,800;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: "Rubik", sans-serif;
  color: #616161;
  font-size: 12px;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

.header {
  flex: 0 0 130px;
  background: #FFF;
  position: relative;
}
.header__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header__navbar {
  display: flex;
  column-gap: 3.4vw;
  align-items: center;
}
@media (max-width: 768px) {
  .header__menu-body {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.2s;
  }
}
.header__menu-body.active {
  left: 0;
}
.header__list {
  display: flex;
  column-gap: 2.4vw;
}
@media (max-width: 768px) {
  .header__list {
    flex-direction: column;
    padding: 60px;
    gap: 0;
    height: 100%;
    width: 100%;
    background-color: #333;
    overflow: auto;
    margin: 0 auto;
  }
}
.header__link {
  color: #333;
  font-size: 14px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  text-align: center;
}
@media (max-width: 768px) {
  .header__link {
    display: block;
    font-size: 30px;
    line-height: 70px;
  }
}
@media (min-width: 767.98px) {
  .header__link {
    opacity: 0.7;
  }
  .header__link:hover {
    opacity: 1;
  }
  .header__link:hover::after {
    width: 100%;
  }
  .header__link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #333;
    transition: all 0.3s ease 0s;
    margin: 2px 0 0 0;
  }
}
@media (max-width: 767.98px) {
  .header__link {
    color: #FFF;
  }
}
.header__link_active {
  opacity: 1;
}
.header__link_active::after {
  width: 100%;
}
.header__burger {
  display: none;
}
@media (max-width: 768px) {
  .header__burger {
    display: block;
    width: 30px;
    height: 22px;
    position: relative;
    z-index: 5;
    cursor: pointer;
  }
  .header__burger div {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: all 0.2s;
    border-radius: 10%;
  }
  .header__burger div:first-child {
    top: 0;
  }
  .header__burger div:last-child {
    top: auto;
    bottom: 0;
  }
  .header__burger.active div {
    background-color: #fff;
    transform: scale(0);
  }
  .header__burger.active div:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .header__burger.active div:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.main {
  flex: 1 1 auto;
}
.main .about__container {
  display: flex;
  padding: 0 30px;
  flex-direction: column;
  margin: 78px auto;
  row-gap: 30px;
}
@media (min-width: 767.98px) {
  .main .about__container {
    flex-direction: row;
    column-gap: 30px;
    align-items: center;
    max-width: 1024px;
    padding: 0 40px;
  }
}
.main .about__img-container {
  display: block;
  background-color: #fff;
  border-radius: 50%;
  border: 18px solid #fff;
  overflow: hidden;
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
  width: 80%;
  height: 80%;
  margin: 0 auto;
}
@media (min-width: 767.98px) {
  .main .about__img-container {
    width: 100%;
    height: 100%;
  }
}
.main .about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 767.98px) {
  .main .about__img {
    width: 100%;
    height: 100%;
  }
}
.main .about__text {
  flex: 1 0 60%;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 2.4vw;
}
.main .about__position {
  color: #AAA;
  font-size: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  line-height: 19.2px;
  margin-bottom: 10px;
}
.main .about__name {
  color: #333;
  font-size: 48px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  margin-bottom: 20px;
}
.main .about__description {
  color: #666;
  font-size: 14px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: 24.5px;
  margin-bottom: 25px;
}
.main .about__cv {
  margin-right: 10px;
}
.main .skills__title {
  text-align: center;
  color: #333;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.2px;
  margin-bottom: 30px;
}
.main .skills__title::after {
  content: "";
  margin: 10px 0 0 0;
  width: 100px;
  opacity: 0.2;
  height: 2px;
  display: block;
  background-color: #333;
  margin: 10px auto;
}
.main .skills__content {
  display: flex;
  width: 100%;
}
.main .skills__text {
  flex: 1 1 auto;
}
.main .skills__image {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .skills__image img {
  width: 400px;
}
.main .skills__subtitle {
  color: #333;
  font-family: Poppins;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.2px;
  opacity: 0.7;
}
.main .skills__list {
  display: grid;
  padding: 20px 0 30px 0;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  column-gap: 5px;
  row-gap: 5px;
}
.main .skills__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 5px 0 0 0;
}
.main .skills__item:hover {
  background-color: #e4e4e4;
}
.main .skills__item img {
  height: 30px;
}
.main .skills__item-text {
  padding: 10px 0;
  font-size: 26px;
  font-family: "Nanum Pen Script", "cursive";
  text-transform: uppercase;
}
.main .portfolio__projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
}
.main .portfolio__item {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  border: 1px solid #E5E5E5;
  background: #bd6a6a;
}
.main .portfolio__item:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-box-shadow: 0 12px 17px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 12px 17px rgba(0, 0, 0, 0.12);
  -o-box-shadow: 0 12px 17px rgba(0, 0, 0, 0.12);
  box-shadow: 0 12px 17px rgba(0, 0, 0, 0.12);
}
.title {
  text-align: center;
  color: #333;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.2px;
  margin-bottom: 30px;
}
.title::after {
  content: "";
  margin: 10px 0 0 0;
  width: 100px;
  opacity: 0.2;
  height: 2px;
  display: block;
  background-color: #333;
  margin: 10px auto;
}

.main-button {
  padding: 0px 40px;
  border-radius: 30px;
  border: 1px solid #333;
  background: #FFF;
  box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.22);
  height: 40px;
}
.main-button:hover {
  background: #333;
  color: white;
  transition: all ease 0.5s;
}

.logo {
  display: flex;
  column-gap: 8px;
}
.logo__img {
  background-color: palegreen;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #333;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo__text {
  display: none;
}
@media (min-width: 767.98px) {
  .logo__text {
    display: block;
    color: #222;
    font-size: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
  }
}
.logo__name {
  font-weight: 600;
}

[class*=__container] {
  max-width: 1280px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: 767.98px) {
  .lock {
    overflow: hidden;
  }
}