//--------------------------------- nullstyle -----------------------------------------//

@import "nullstyle.scss";

//------------------------------------------------------------------------------------//
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,800;1,400&display=swap');
//------------------------------------------------------------------------------------//

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

}

body {
	font-family: 'Poppins', sans-serif;
	color: #333;
	font-size: 12px;

}

html {
	scroll-behavior: smooth;
	font-size: 16px;
}

.header {
	width: 100%;
	height: 100px;
	top: 0;
	left: 0;
	background: #FFF;
	position: fixed;
	-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .08);
	-moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .08);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
	z-index: 10;
		&__container {
			height: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__title{
			display: flex;
			column-gap: 8px;
			align-items: center;
			&-img {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background:#333;
				color: #FFF;
				font-size: 28px;
				font-weight: 800;
				display: flex;
				align-items: center;
				justify-content: center;
				@media (max-width:767.98px) {
					width: 30px;
					height: 30px;
					font-size: 18px;
				}
			}
			&-text {
				color: #222;
				font-size: 20px;
				line-height: 2.5;
				@media (max-width:767.98px) {
					font-size: 16px;
				}
				@media (max-width:375.98px) {
					display: none;
				}
			}

			&-name {
				font-weight: 600;
			}
		}

		&__navbar {
			display: flex;
			column-gap: 3.4vw;
			align-items: center;
		}
		&__menu-body{
			@media (max-width: 768px) {
				position: absolute;
				top: 0;
				left: -100%;
				height: 100vh;
				width: 100%;
				background-color: rgba(0, 0, 0, 0.8);
				transition: all 0.2s;
			}
			&.active {
				left: 0;
			}
		}

		&__list {
			display: flex;
			column-gap: 2.4vw;
			@media (max-width: 768px) {
				flex-direction: column;
				padding: 60px;
				gap: 0;
				height: 100%;
				width: 100%;
				background-color: #333;
				overflow: auto;
				margin: 0 auto;
			}
		}

		&__link {
			color: #333;
			font-size: 14px;
			line-height: 46px;
			text-align: center;
			@media (max-width: 768px) {
					display: block;
					font-size: 30px;
					line-height: 70px;
				}
			@media (min-width:767.98px) {
				opacity: 0.7;
				&:hover {
					opacity: 1;
					&::after {
						width: 100%
					}
				}
				&::after{
					content: "";
					display: block;
					width: 0;
					height: 2px;
					background: #333;
					transition: all 0.3s ease 0s;
					margin: 2px 0 0 0;
				}	//	position: relative;
					//	z-index: 4;
					//	color: #FFF;
			
			}
			@media (max-width:767.98px){
				color: #FFF;
				
			}
			
		}
		&__link_active{
			opacity: 1;
			&::after{
				width: 100%;
			}	
		}
		&__cv {
			height: 40px;
			padding: 0px 40px;
			border-radius: 30px;
			border: 1px solid #333;
			background: #FFF;
			box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.22);
			transition: all ease 0.5s;
			&:hover {
				background: #333;
				color: white;
				
			}
			@media (max-width:575.98px) {
				padding: 0px 25px;
			}
		}
		&__burger{
			display: none;
			@media (max-width: 768px) {
				display: block;
				width: 30px;
				height: 22px;
				position: relative;
				z-index: 5;
				cursor: pointer;
				div {
					position: absolute;
					top: calc(50% - 1px);
					left: 0;
					width: 100%;
					height: 2px;
					background-color: #333;
					transition: all 0.2s;
					border-radius: 10%;
					&:first-child {
						top: 0;
					}
					&:last-child {
						top: auto;
						bottom: 0;
					}
				}
				&.active {
					div {
						background-color: #fff;
						transform: scale(0);
						&:first-child {
							transform: rotate(-45deg);
							top: calc(50% - 1px);
						}
						&:last-child {
							transform: rotate(45deg);
							bottom: calc(50% - 1px);
						}
					}
				}
			}
		}
		@media (max-width: 768px) {
			height: 90px;
		}
}

.about {
	&__container {

	}
	&__body{
		display: flex;
		flex-direction: row;
		align-items: center;
		max-width: 1024px;
		padding: 0 40px;
		column-gap: 30px;
		margin: 130px auto;
		@media (max-width:767.98px) {
			text-align: center;
			padding: 0 30px;
			flex-direction: column;
			margin: 60px auto;
			row-gap: 30px;
		}
	}
	&__img-container {
		border-radius: 50%;
		border: 18px solid #fff;
		overflow: hidden;
		-webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, .1);
		-moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, .1);
		box-shadow: 0 0 25px 0 rgba(0, 0, 0, .1);
		width: 100%;
		height: 100%;

		@media (max-width:767.98px) {
			width: 70%;
			height: 70%;
			margin: 0 auto;
		}
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__text {
		flex: 1 0 60%;
		display: flex;
		flex-direction: column;
		padding: 0 0 0 2.4vw;
	}

	&__position {
		color: #AAA;
		font-size: 16px;
		font-style: normal;
		font-weight: 300;
		line-height: 1.2;
		margin-bottom: 10px;
		
	}

	&__name {
		font-size: 48px;
		font-weight: 600;
		line-height: 1.2;
		margin-bottom: 20px;
		@media (max-width:767.98px) {
			font-size: 36px;
		}
	}

	&__description {
		color: #666;
		font-size: 14px;
		font-weight: 400;
		line-height: 24.5px;
		margin-bottom: 25px;
	}

	&__buttons {
		
		@media (max-width:575.98px) {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&__cv {
		margin: 0 10px 0 0;
	}	

	&__contact {}
}

.skills{
	padding: 0 0 50px 0;
	&__container {
		
	}
	
	&__title {}

	&__list {
		//display: grid;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		//padding: 20px 0 30px 0;
		//grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
		gap: 5px;
		//max-width: 80%;
		margin: 0 auto;
		
	}

	&__item {
		width: 120px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		text-align: center;
		padding: 15px;
		transition: all 0.1s ease 0s;
		//border: 1px solid #e4e4e4;
		border-radius: 10px;

		&:hover {
			//
			transform: scale(1.1);
			-webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, .1);
			-moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, .1);
			box-shadow: 0 0 25px 0 rgba(0, 0, 0, .1);
			//background-color: #e4e4e4;
		}

		img {
			height: 40px;
		}
		@media (max-width: 768px) {
			width: 90px;
			img {
				height: 30px;
			}
		}
	}

	&__item-text {
		padding: 15px 0 0 0;
		font-size: 16px;
		letter-spacing: 0.8px;
		@media (max-width: 768px) {
			font-size: 14px;
		}
		//text-transform: uppercase;
	}
			
}

.portfolio {
	margin-bottom: 100px;
	&__container {
		
	}

	&__title {}

	&__projects {
		display: grid;
		//grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
		gap: 10px;
	}

	&__item {
		height: 300px;
		border-radius: 10px;
		border: 1px solid #E5E5E5;
		background: #333;

		&:hover {
			-webkit-transform: translateY(-5px);
			-ms-transform: translateY(-5px);
			-o-transform: translateY(-5px);
			transform: translateY(-5px);
			-webkit-box-shadow: 0 12px 17px rgba(0, 0, 0, .12);
			-moz-box-shadow: 0 12px 17px rgba(0, 0, 0, .12);
			-o-box-shadow: 0 12px 17px rgba(0, 0, 0, .12);
			box-shadow: 0 12px 17px rgba(0, 0, 0, .12)
		}
	}
		&__item-1 {
			grid-column: span 2;
		}
		&__item-4{
			grid-column: span 2;
		}
}

.contact {
	background: #ebeaea;
	padding: 30px 0;

	&__container {}

	&__body {
		display: flex;
		justify-content: space-between;
		column-gap: 40px;

		@media (max-width: 768px) {
			flex-direction: column;
		}
	}

	&__title {}

	&__data {
		flex: 0 1 480px;

	}

	&__contacts {
		padding: 40px 0 0 0;
		height: 80%;
		display: flex;
		flex-direction: column;
		row-gap: 30px;
	}

	&__talk {
		font-size: 16px;
		max-width: 300px;
		line-height: 1.3;
	}

	&__header {
		font-size: 18px;
		font-weight: 600;
		color: #333;
	}

	&__copytext {
		display: flex;
		justify-content: space-between;
		line-height: 19.2px;
		padding: 6px 0px;
		border-bottom: 1.5px solid #333;
		//margin-bottom: 15px;
	}

	&__info {
		background-color: #ebeaea;
		font-size: 14px;
		font-weight: 400;
		width: 100%;
	}

	&__copy-button {
		background-color: #ebeaea;
	}

	&__copy-img {
		width: 20px;
	}

	&__icons {
		display: flex;
		column-gap: 16px;

		//margin-top: 30px;
		img {
			width: 25px;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		padding: 0 0 0 0;
		row-gap: 20px;
		flex: 0 1 50%;

	}

	&__form-input {
		padding: 11.53px 11.53px 11.54px 11.53px;
		border-radius: 5px;
		border: 1px solid #333;
		background: #FFF;

		&::placeholder {
			color: #757575;
			font-size: 16px;
		}
	}

	&__form-button {
		background: #333;
		color: #FFF;
		align-self: flex-start;
		height: 40px;
		padding: 0px 40px;
		border-radius: 30px;
		border: 1px solid #333;
		box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.22);
		transition: all ease 0.5s;
		&:hover {
			background: #FFF;
			color: #333;
		}
	}
}

.main {
	flex: 1 1 auto;
	padding: 100px 0 0 0;
}


.title{
	//text-align: center;
		color: #333;
		font-size: 26px;
		font-weight: 600;
		line-height: 25.2px;
		margin-bottom: 40px;
		position: relative;
		display: inline-block;
		&::after {
			content: '';
			margin: 10px 0 0 0;
			width: 100%;
			opacity: 0.2;
			height: 2px;
			display: block;
			background-color: #333;
			//margin: 10px auto;
		}
		&::before{
			content: '';
			//margin: 10px 0 0 0;
			width: 20px;
			height: 2px;
			top: 35px;
			display: block;
			background-color: #333;
			position: absolute;
			//margin: 10px auto;
		}
}


.button {
	height: 40px;
	padding: 0px 40px;
	border-radius: 30px;
	border: 1px solid #333;
	background: #FFF;
	box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.22);
	transition: all ease 0.5s;

	&:hover {
		background: #333;
		color: white;

	}
}





.footer {
	background-color: #333;
	color: #fff;
	&__container {	
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		text-align: center;
	}
}

[class*="__container"]{
	max-width: 1280px;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
}

.lock {
	@media (max-width:767.98px) {
		overflow: hidden;
	}
}