//--------------------------------- nullstyle -----------------------------------------//

@import "nullstyle.scss";

//---------------------------------- Fonts --------------------------------------------------//

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,800;1,400&display=swap');

//---------------------------------- Variables -----------------------------------------------//

$brown: #333;
$creamwhite: #e3e3e3;

//-------------------------------------------------------------------------------------------//
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

}
body {
	font-family: 'Poppins', sans-serif;
	color: $brown;
	font-size: 16px;

}
html {
	scroll-behavior: smooth;
}

.header {
	width: 100%;
	height: 100px;
	top: 0;
	left: 0;
	background: #FFF;
	position: fixed;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
	z-index: 10;
		&__container {
			height: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__title{
			display: flex;
			column-gap: 8px;
			align-items: center;

			&-img {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background:#333;
				color: #FFF;
				font-size: 28px;
				font-weight: 800;
				display: flex;
				align-items: center;
				justify-content: center;
				@media (max-width:767.98px) {
					width: 30px;
					height: 30px;
					font-size: 18px;
				}
			}

			&-text {
				color: #222;
				font-size: 20px;
				line-height: 2.5;
				@media (max-width:767.98px) {
					font-size: 16px;
				}
				@media (max-width:375.98px) {
					display: none;
				}
			}

			&-name {
				font-weight: 600;
			}
		}

		&__navbar {
			display: flex;
			column-gap: 3.4vw;
			align-items: center;
		}
		
		&__menu-body{
			@media (max-width: 768px) {
				display: flex;
				position: absolute;
				top: 0;
				right: -100%;
				min-height: 100vh;
				width: 60%;
				background-color: rgba(0, 0, 0, 0.9);
				transition: all 0.2s ease 0s;
			}
			&.active {
				right: 0;
			}
		}

		&__list {
			display: flex;
			column-gap: 2.4vw;
			@media (max-width: 768px) {
				flex-direction: column;
				align-items: flex-start;
				padding: 90px 0 0 30px;
				gap: 0;
				height: 100%;
				width: 100%;
				overflow: auto;
			}
		}

		&__link {
			font-size: 14px;
			line-height: 3.2;
			text-align: center;
			cursor: pointer;
			opacity: 0.7;
				
			&:hover {
				opacity: 1;
				&::after {
					width: 100%
				}
			}
			&::after{
				content: "";
				display: block;
				width: 0;
				height: 2px;
				background: $brown;
				transition: all 0.3s ease 0s;
			}	
			@media (max-width:767.98px){
				opacity: 1;
				color: $creamwhite;
				font-size: 30px;
				line-height: 70px;
				text-align: left;
				&::after {
					content: "";
					width: 200px;
					background: $creamwhite;
				}
			}
			
		}
		&__link_active{
			opacity: 1;
			&::after{
				width: 100%;
			}	
		}
		&__burger{
			display: none;
			@media (max-width: 768px) {
				display: block;
				width: 30px;
				height: 22px;
				position: relative;
				z-index: 5;
				cursor: pointer;
				div {
					position: absolute;
					top: calc(50% - 1px);
					left: 0;
					width: 100%;
					height: 2px;
					background-color: $brown;
					transition: all 0.2s;
					border-radius: 10%;
					&:first-child {
						top: 0;
					}
					&:last-child {
						top: auto;
						bottom: 0;
					}
				}
				&.active {
					div {
						background-color: $creamwhite;
						transform: scale(0);
						&:first-child {
							transform: rotate(-45deg);
							top: calc(50% - 1px);
						}
						&:last-child {
							transform: rotate(45deg);
							bottom: calc(50% - 1px);
						}
					}
				}
			}
		}
		@media (max-width: 768px) {
			height: 90px;
		}
}

.about {
	padding: 30px 0;
	
	&__body{
		display: flex;
		flex-direction: row;
		align-items: center;
		max-width: 1024px;
		padding: 0 40px;
		column-gap: 30px;
		margin: 100px auto;
		@media (max-width:767.98px) {
			text-align: center;
			padding: 0 30px;
			flex-direction: column;
			margin: 30px auto;
			row-gap: 30px;
		}
	}
	&__img-container {
		border-radius: 50%;
		border: 18px solid #fff;
		overflow: hidden;
		-webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, .1);
		-moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, .1);
		box-shadow: 0 0 25px 0 rgba(0, 0, 0, .1);
		width: 100%;
		height: 100%;
		@media (max-width:767.98px) {
			width: 70%;
			height: 70%;
			margin: 0 auto;
		}
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__text {
		flex: 1 0 60%;
		display: flex;
		flex-direction: column;
		padding: 0 0 0 2.4vw;
		@media (max-width:767.98px) {
			align-items: center;
		}
	}

	&__position {
		color: #AAA;
		font-size: 16px;
		font-weight: 300;
		line-height: 1.2;
		margin-bottom: 10px;
	}

	&__name {
		font-size: 48px;
		font-weight: 600;
		line-height: 1.2;
		margin-bottom: 20px;
		@media (max-width:767.98px) {
			font-size: 36px;
		}
	}

	&__description {
		color: #666;
		font-size: 14px;
		line-height: 1.7;
		margin-bottom: 25px;
	}	
}

.skills{
	padding: 30px 0;
	
	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 5px;
		margin: 0 auto;
	}

	&__item {
		width: 120px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		text-align: center;
		padding: 15px;
		transition: all 0.1s ease 0s;
		border-radius: 10px;
		&:hover {
			transform: scale(1.1);
			-webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, .1);
			-moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, .1);
			box-shadow: 0 0 25px 0 rgba(0, 0, 0, .1);
		}
		img {
			height: 40px;
		}
		@media (max-width: 768px) {
			width: 90px;
			img {
				height: 30px;
			}
		}
	}

	&__item-text {
		padding: 15px 0 0 0;
		font-size: 16px;
		letter-spacing: 0.8px;
		@media (max-width: 768px) {
			font-size: 14px;
		}
	}
			
}

.portfolio {
	padding: 30px 0;

	&__projects {
		display: grid;
		align-items: center;
		justify-content: center;
		grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
		gap: 10px;
		margin: 0 auto;
		width: 100%;
		@media (max-width:767.98px) {
			grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		}
	}

	&__item {
		height: 300px;
		overflow: hidden;
		position: relative;
		transition: all 0.3s ease 0s;
		&:hover {
			.portfolio__overlay{
				display: flex;
			}
		}
		
	
	}
	&__item-img{
		border: 5px solid #E5E5E5;
		border-radius: 10px;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__overlay{
		display: none;
		text-align: center;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 20px;
		position: absolute;
		text-align: center;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 10px;
		background-color: rgba(0, 0, 0, 0.884);
		padding: 5px;
		color: $creamwhite;
		&-title{
			font-size: 2rem;
			letter-spacing: 1.5px;
		}
		&-description{
			font-size: 1rem;
			letter-spacing: 1px;
		}
		&-technologies{
			display: flex;
			flex-wrap: wrap;
			gap: 10px 30px;
			text-transform: uppercase;
			li{
				background-color: black;
				padding: 5px 10px;
				border-radius: 5px;
			}
		}
		&-buttons{
			display: flex;
			column-gap: 10px;
			a{
				color: $brown;
				display: flex;
				text-align: center;
				align-items: center;
			}
		}
	}

	
}

.contact {
	background: #ebeaea;
	padding: 30px 0;
	&__body {
		display: flex;
		justify-content: space-between;
		column-gap: 40px;
		@media (max-width: 768px) {
			flex-direction: column;
		}
	}

	&__data {
		flex: 0 1 480px;
	}

	&__contacts {
		padding: 40px 0 0 0;
		height: 80%;
		display: flex;
		flex-direction: column;
		row-gap: 30px;
	}

	&__talk {
		font-size: 16px;
		max-width: 300px;
		line-height: 1.3;
	}

	&__header {
		font-size: 18px;
		font-weight: 600;
		color: $brown;
	}

	&__copytext {
		display: flex;
		justify-content: space-between;
		line-height: 19.2px;
		padding: 6px 0px;
		border-bottom: 1.5px solid $brown;
	}

	&__info {
		background-color: #ebeaea;
		font-size: 14px;
		width: 100%;
	}

	&__copy-button {
		background-color: #ebeaea;
	}

	&__copy-img {
		width: 20px;
	}

	&__form {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		flex: 0 1 50%;
	}

	&__form-input {
		padding: 11.5px 11.5px 11.5px 11.5px;
		border-radius: 5px;
		border: 1px solid $brown;
		background: #FFF;

		&::placeholder {
			color: #757575;
			font-size: 16px;
		}
	}

	form > &__form-button {
		background: $brown;
		color: $creamwhite;
		align-self: flex-start;
		&:hover {
			background: #FFF;
			color: $brown;
		}
	}
}

.main {
	flex: 1 1 auto;
	padding: 100px 0 0 0;
}

.footer {
	background-color: #333;
	color: #fff;
	&__container {	
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		text-align: center;
	}
}

[class*="__container"]{
	max-width: 1280px;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
}

.contact-icons {
	display: flex;
	column-gap: 16px;
	img {
		width: 25px;
	}
}

.button {
	height: 40px;
	color: $brown;	
	padding: 0px 40px;
	border-radius: 30px;
	border: 1px solid $brown;
	background: white;
	box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.22);
	transition: all 0.3s ease 0s;
	&:hover {
		background: $brown;
		color: white;

	}
	@media (max-width:575.98px) {
		padding: 0px 25px;
	}
}	
						
.title {
	color: #333;
	font-size: 26px;
	font-weight: 600;
	line-height: 25.2px;
	margin-bottom: 40px;
	position: relative;
	display: inline-block;

	&::after {
		content: '';
		margin: 10px 0 0 0;
		width: 100%;
		opacity: 0.2;
		height: 2px;
		display: block;
		background-color: #333;
	}

	&::before {
		content: '';
		width: 20px;
		height: 2px;
		top: 35px;
		display: block;
		background-color: #333;
		position: absolute;
	}
}

.lock {
	@media (max-width:767.98px) {
		overflow: hidden;
	}
}